#contaner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 647px;
  background-image: linear-gradient(
    to right,
    #310080,
    rgb(148 255 26 / 59%),
    #342a72
  );
}
#clock {
  /* margin: auto; */
  padding: 2px;
  position: relative;
  height: 635px;
  width: 750px;
  background: url(image.png) no-repeat center;
  background-size: 557px;
  background-color: white;
  border-radius: 186px;
}

#hour,
#minute,
#second {
  position: absolute;
  border-radius: 70px;
  transform-origin: bottom;
}
#hour {
  height: 201px;
  width: 23px;
  top: 123px;
  left: 364px;
  background-color: black;
  /* display: none; */
}
#minute {
  height: 226px;
  width: 15px;
  top: 94px;
  left: 367px;
  background-color: black;
  /* display: none; */
}
#second {
  height: 232px;
  width: 9px;
  top: 91px;
  left: 373px;
  background-color: black;
  /* display:none; */
}
